<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>20/10/01 08:26:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogInPageTest.setUp()[pri:0, instance:com.OrangeHRM.testCases.LogInPageTest@39aeed2f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>20/10/01 08:26:18</td>   <td>18137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogInPageTest.logInPageTitleTest()[pri:1, instance:com.OrangeHRM.testCases.LogInPageTest@39aeed2f]">logInPageTitleTest</td> 
  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>20/10/01 08:26:18</td>   <td>18191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogInPageTest.teardown()[pri:0, instance:com.OrangeHRM.testCases.LogInPageTest@39aeed2f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>20/10/01 08:26:19</td>   <td>18942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogInPageTest.setUp()[pri:0, instance:com.OrangeHRM.testCases.LogInPageTest@39aeed2f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>20/10/01 08:26:41</td>   <td>41415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogInPageTest.logInTest()[pri:2, instance:com.OrangeHRM.testCases.LogInPageTest@39aeed2f]">logInTest</td> 
  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>20/10/01 08:26:58</td>   <td>57868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogInPageTest.teardown()[pri:0, instance:com.OrangeHRM.testCases.LogInPageTest@39aeed2f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
</table>
